<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption</title>
  </head>
  <body>
    <h1>Puppy Listings</h1>
    <form action="/" method="post">
      <p>Name: <input type="text" name="name"></p>
      <label for="breed">Breed:</label>
      <input type="text" name="breed"><br>
      <label for="age">Age:</label>
      <input type="text" name="age"><br>
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
