<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>All about Puppies!</h1>
    <!-- %q{
        Hello World!<br><f><a href="http://www.google.com">Google</a>
        <form method="post">
        Enter your name: <input type="text" name="name" />
        <input type="submit" value="Go!" />
        </form>
    } -->

    <form method="post" action="/new" class="button_to">
      Click Here To List A Puppy <input = "form" name="name" />
      <textarea name="input"></textarea>
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>

  </body>
</html>
