<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>All about Puppies!</h1>

    <!-- <form method="post" action="/new">
      <p>Click Here To List A Puppy</p>
      <textarea name="input"></textarea>
      <br>
      <button type="submit" value="submit">Submit</button>
    </form> -->

  </body>
</html>
