<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption</title>
  </head>
  <body>
    <h1>Puppy Listings</h1>

    <form method="post" action="/" class="button_to">
      Click Here To List A Puppy <input = "form" name="name" />
      <textarea name="input"></textarea>
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>

  </body>
</html>
